body {
    background-color: blanchedalmond;
}
.title {
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: bisque;
    margin: 0;
    padding: 10px;
}

.title h1, .title h4 {
    margin: 0; /* Remove extra space inside title */
}

.camera {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 0;
}

.video {
    border-radius: 10px;
    height: 500px;
    width: 500px;
}

button {
    margin-top: 0px;
    width: 100vh;
    height: 10%;
    border-radius: 10px;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

#resultCanvas {
    position: relative;
    top: -500px;
    right: -650px;
}




