body {
    background-color: blanchedalmond;
}
.title {
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: bisque;
}

.camera {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.video {
    border-radius: 10px;
    height: 500px;
    width: 500px;
}

button {
    margin-top: 10px;
    width: 48%;
    height: 10%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 46%;
    left: 46%;
    text-align: center;
    font-size: xx-large;
}

.gallery {
    height: 650px;
    width: 300px;
}



